
@media (max-width: 494px){
    #btns button{
      padding: 5px 18px;
    }
}
@media (max-width: 527px){
    #btns button{
        padding: 5px 18px;
      }

}
@media (max-width: 850px){
  #carinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  gap: 0px;
    
  }

}