
@media (max-width: 1120px) {
    .createrent{
        display: flex;
        flex-direction: column;
        width: 100%;
      
    }
    .cardetails{
        width: 100%;

    }
}

#imagecontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;

}

#image{
    height: 100px;
    width: 100px;
    position: relative;
}
#image #img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    
}
#image #trashicon{
    position: absolute;
    right: 4%;
    top: 4%;
    cursor: pointer;
}

