
@media (max-width: 1120px) {
    .dd{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 10vmin;
    }
    .dd input{
        width: 100%;
    }
    .createrent{
        width: 100%;
       
    }
    }

@media (max-width: 620px) {
   .sidebar2{
    display: none;
   }
   .homecars{
    width: 100%;
   }
   .dd_parent{
    width: 100%;
   }

   .dd_parent div{
    width: 100%;
    margin-top: 1.5vmin;
   }
   .dd_parent div label{
    font-size: 3.8vmin;
   }
   #cnic{
    height: 10vmin;
   }
}