
@media (max-width: 1120px) {
    .dd{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: start;
        gap: 10vmin;
    }
    .dd input{
        width: 100%;
        padding: 2vmin 2vmin;
        font-size: 4vmin;
    }
    .createrent{
        width: 100%;
       
    }
    }

@media (max-width: 533px) {
   .sidebar2{
    display: none;
   }
    
}