
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:wght@358&display=swap');

#Parent{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width: 100%;
   padding: 12px 20px;
   gap: 12px;
   background-color: white;
   border-radius: 10px;
   font-family: "Plus Jakarta Sans", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
 
}
#inputs{
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: flex-start;
    gap: 10px;
}
#inputs label{
    font-weight: 500;
}
#inputs input{
    /* padding: 20px 20px; */

}
#inputss label{
    font-size: 3vmin;
    color: black;
    font-weight: 500;
}
#inputss button{
    background-color: transparent;
    border: 1px solid #dadada;
    display: flex;
    width: 180px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(206, 206, 205);
}
#inputss button img{
    height: 100%;
    width: 100%;
}
button{
    background-color: #FC500C;
    align-self: center;
    color: white;
    padding: 1.3vmin 3vmin;
    font-weight: 500;
    border-radius: 2px;
}
h5{
    font-size: 1.5rem;
    font-weight: 500;
}
#inputs .showroominput::placeholder{
    color: #6d6d6d;

}
#inputss #ptext{
     font-size: 16px;
     display: block;
     margin-bottom: 12px;

}