@tailwind base;
@tailwind components;
@tailwind utilities;
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.app{
  background-color: #111;
  color: white;
}
@media (max-width: 820px){
.signup{
  display: flex;
  flex-direction: column;
}
.section{
  width: 100vmin;


}
.signupform{
  width: 100vmin;
}
}


@media (max-width: 320px){
  .signupinput{
    width: 100%;
    
  }
  .signupbtn{
    width: 100%;
  }
}